.BodyBattle{
    /* margin-top: 90px; */
    clear: both;
    position: absolute;
    height: max-content;
    width: 100%;
    text-align: center;
    /* border: solid 2px black; */
}

.ResultNodes{
    margin-left: 29%;
}

input{
    height: 70px;
    width: 350px;
    margin: 20px;
    font-size: 40px;
    font-weight: bolder;
    border: 1px solid crimson;
    border-radius: 3%;
    color: #640101;
    background-color: rgb(232, 240, 254);
}

.Vs{
    color: crimson;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    /* margin: ; */
    /* border: solid 1px crimson; */
}

.Form{
    display: inline-block;
    /* border: 1px solid green; */
    /* height: 100px; */
    text-align: center;
    width: max-content;
}

.FormElement{
    float: left;
    /* height: 200px; */
    /* border: 2px solid yellow; */
    width: max-content;
    margin: 10px;
    margin-bottom: 0px;
    display: inline-block;
    /* width: 450px; */
    position: relative;
}

.SubmitButtonDiv{
    clear: left;
    /* border: solid 2px black; */
    width: 100%;
}

.SubmitButton{
    height: 100px;
    width: 350px;
    background: crimson;
    border: rgb(250, 195, 0);
    border-radius: 1%;
    cursor: pointer;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

.GitText{
    font-size: 120px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: crimson;
    margin-bottom: auto;
    text-align: center;
    /* border: solid 2px yellow; */    
}

